<div class="jumbotron text-center">
	<h1>Speakers</h1>
	<p class="lead">Meet some of our great speakers!</p>
</div>

<div class="row">
	<div class="col-12 col-sm-6 col-lg-3 mb-4">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title">Speaker 1</h6>
				<p class="card-text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dolores?
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3 mb-4">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title">Speaker 2</h6>
				<p class="card-text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dolores?
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3 mb-4">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title">Speaker 3</h6>
				<p class="card-text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dolores?
				</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3 mb-4">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title">Speaker 4</h6>
				<p class="card-text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dolores?
				</p>
			</div>
		</div>
	</div>
</div>
