<div class="jumbotron text-center">
	<h1>Thinkster.io Conference</h1>
	<p class="lead">Welcome to the first fake Thinkster.io conference!</p>
</div>

<h2>
	Learn to Teach
</h2>
<p>
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium assumenda tempore doloremque explicabo optio,
	laboriosam voluptatibus voluptas sit modi esse nesciunt cum aliquam ducimus, libero quos maiores reiciendis, quam
	nam.
</p>

<h2>
	Share Your Content
</h2>
<p>
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium assumenda tempore doloremque explicabo optio,
	laboriosam voluptatibus voluptas sit modi esse nesciunt cum aliquam ducimus, libero quos maiores reiciendis, quam
	nam.
</p>

<h2>
	Be a Mentor
</h2>
<p>
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium assumenda tempore doloremque explicabo optio,
	laboriosam voluptatibus voluptas sit modi esse nesciunt cum aliquam ducimus, libero quos maiores reiciendis, quam
	nam.
</p>
